.date{
    margin:0;}
input {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: 900;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    position: relative;
    right:10px;
}
