.material-symbols-outlined {
    font-size: 32px;
    color: hsla(216, 7%, 87%, 0.393);
    border: 2px solid;
    border-radius: 50%;
    padding: 0.2rem;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 32
  }
  
ol{
    padding-left: 1rem;
}
ol li {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer; 
}
h1 {
    text-align: center;
}

button {
    padding: 0.5rem;
    font-size: xx-large;
    background-color: transparent;
    border: none;
    user-select: none;
    :hover{
        color: #aac9fa;
        cursor: pointer;
    }
}

.inputBody {
    display: flex;
    align-items: center;
    gap: 1rem;

}

textarea{
    width: 100%;
    resize: none;
    padding-top:12px;
    padding: 1rem;
    border-radius: 8px;
    background-color: transparent;
    user-select: unset;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    cursor: pointer;
   
}
.deleteItem {
    font-size:16px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    cursor: pointer;
}

li span {
    user-select: text;
}

span button {
    user-select: none;
}
.control{
   display: flex;
   gap: 12px;
   margin-top: 1rem; 
    
}




