ol {
    /* height: 10rem; */
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    padding-left: 1rem;
    margin-bottom: 1rem;
    overflow: scroll;
    li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        
    }
}


.deleteItem {
    font-size: 1rem;
}

.inputBody {
    display: flex;
    align-items: center;
    gap: 1rem;

    textarea {
        width: 100%;
        background-color: transparent;
        color: white;
        resize: none;
        border: 2px solid white;
        border-radius: 0.7rem;
        padding: 1rem;
        user-select: unset;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    }
    ::placeholder {
        color: white;
    }
    :focus {
        outline: none;
    }
}
