.TabList{
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
    .Tab{
        background-color: transparent;
        color: white;
        font-size: 12px;
        font-weight: 700;
        list-style: none;
        outline: none;
        
    }
}
.react-tabs__tab--selected{
    border-bottom: 2px solid white;
    font-weight: 900;
    
    
}