.TabList{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 0;
    .Tab{
        background-color: transparent;
        color: white;
        font-size: 1rem;
        font-weight: 700;
    }
}
.react-tabs__tab--selected{
    border-bottom: 2px solid white;
    font-weight: 900;
    
}