body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}


.appContainer {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;


    h1 {
        font-size: 1.5rem;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        margin-top:1rem;
        margin-bottom: 0.5rem;

    }
    .TabList{
        box-sizing: border-box;
        position: sticky;
        top:-1px;
    }
    .inputBody {
        width: 98%;
        position:fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%); 
        box-sizing: border-box;
        padding: 1rem 0;

        
        @media screen and (min-width:670px) {
            width: 500px;
            transform: translateX(-45%); 
            
        }

    }
    
    .control {
        padding: 0.4rem;
        position: fixed;
        bottom: 5rem;
        
        @media screen and (min-width:670px) {
            width: 450px;
            transform: translateX(-3%); 
            
        }
    }


}

button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 0;
    cursor: pointer;
}

ul,
ol {
    list-style: none;
    cursor: pointer
}

h1,
input,
ul,
button,
p {
    margin: 0;
    user-select: none;

}

img {
    width: 100%;

}

.logo {
    width: 25%;
    margin-left: 0.3rem;
    position: relative;
    top: 6px;
}