body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}


.appContainer {
    /* max-width: 1200px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;

    .TabList{
        box-sizing: border-box;
        position: sticky;
        top:-1px;
    }
    .inputBody {
        width: 95%;
        position:fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%); 
        box-sizing: border-box;
        padding: 1rem 0;

    }
    
    .control {
        
        position: fixed;
        bottom: 5.5rem;
    
    }


}

button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 0;
    cursor: pointer;
}

ul,
ol {
    list-style: none;
    cursor: pointer
}

h1,
input,
ul,
button,
p {
    margin: 0;
    user-select: none;

}

img {
    width: 100%;

}
a{
    color: white;
    text-decoration: none;
}

