body {
    width: 100%;
    /* height: 100dvh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    
    @media screen and (min-width:600px){
        justify-content: center;
        
        
    }
}

.appContainer {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 0 1rem;
    h1{text-align: center;}
    .footer{
        margin-top: auto;
    }
}

button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 0;
}
ol,ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li, button{
    cursor: pointer;
}
h1,input,ul, button, p{
    user-select: none;
    margin: 0;
    margin-top: 1rem;
}

